// CORES
$text-color: #333; 
$gray-color: #8f8f8f;
$old-price-color: #8f8f8f;
$payment-color: #464646;
$href-color: #1199DD;
$href-hover-color: #23527c;
$bg-tag-promo: #FF270B;
$bg-target: #FAFA12;
$star-color: #ffca00;
$bg-buttons: #449d44;
$border-button: #449d44;
$bg-buttons-hover: #449d44;
$border-button-hover: #398439;

// ESTILO
$font-family: 'Roboto', sans-serif;
$font-family-condensed: 'Roboto Condensed', sans-serif;

// COMPONENTE CARROSSEL
$items-width: 200px; 
$window-min-width: 300px; 
